body{
	background:radial-gradient(at bottom, #ffffff,#183765) no-repeat fixed;
}
.headerLogin{
	background:#0e1a35;
	border-radius:10px 10px 0px 0px;
}
.btn_toggle{
	border:1px solid #5584ff !important;
	margin:15px 10px !important;
}
.icon-bar{
	background:#5584ff !important;
}
.navbar{
	margin-bottom:0 !important;
}
.logoLogin img {
	margin:20px 60px;
}

.logoLink a{
	font-size:21px;
	padding:25px 60px !important;
	color:#ffffff;
	text-align:center;
}
.logoLink a:hover{
	background:none !important;
	border-bottom:5px solid #5584ff;
	text-decoration:none;
	padding:24px 60px !important;
}
@media (max-width: 768px) {
	.logoLogin img {
		margin:18px 10px;
	}
	.logoLink a{
	font-size:18px;
	color:#ffffff;
	padding:5px 0px !important;
	text-align:center;
}
.logoLink a:hover{
	font-size:18px;
	background:none !important;
	border-left:2px solid #5584ff;
	border-bottom:none;
	text-decoration:none;
	padding:5px 0px !important;
}
}
.bodyLogin{
	background:#ffffff;
	text-align:center;
	padding:20px 0px;
}
.bodyLogin h1{
	padding:60px 0px; 
	margin-top:0 !important;
}
.formsLogin{
	max-width:580px;
	margin:0 auto;
	margin-bottom:50px;
}

#loginform-username{
	background:url('/web/images/user.gif') no-repeat;
	padding-left:50px;
}
#loginform-password{
	background:url('/web/images/lock.gif') no-repeat;
	padding-left:50px;
}
.btn-login{
	width:190px;
	border-radius:100px !important;
	height:50px;
	background:#5584ff;
	color:#ffffff;
	font-weight:bold;
}
.btn-login:hover{
	color:#ffffff;
}
.radio{
	display:inline-block !important;
	margin:0px 10px;
}
#login-form label{
	color:#183765;
}
#login-form input[type="text"],input[type='password'], select,.formsLogin input{
	border-radius:0px !important;
	border:none !important;
	border-bottom:2px solid #eee !important;
	-webkit-box-shadow:none !important;
	box-shadow:none!important;
}