.headerLogin{
	background:#0e1a35;
}
.logoLogin img {
	margin:60px;
	margin-bottom:43px;
}
.logoLink a{
	font-size:21px;
	color:#ffffff;
	padding:50px 50px ! important;
	text-align:center;
	float:right;
}
.logoLink a:hover{
	background:none !important;
	border-bottom:5px solid #5584ff;
	text-decoration:none;
}
.bodyLogin{
	background:#ffffff;
	text-align:center;
	
}
.bodyLogin h1{
	margin:120px 0px; 
}
.formsLogin{
	max-width:580px;
	margin:0 auto;
	margin-bottom:50px;
}
.formsLogin input{
	border:none;
	border-radius:0;
}
#loginform-username{
	background:url('/web/images/user.gif') no-repeat;
	padding-left:50px;
}
#loginform-password{
	background:url('/web/images/lock.gif') no-repeat;
	padding-left:50px;
}
.btn-login{
	width:190px;
	border-radius:50px;
	height:50px;
	background:#5584ff;
	color:#ffffff;
	font-weight:bold;
}
.btn-login:hover{
	color:#ffffff;
}