.content{
	background:#f6f7fa;
	height:80vh !important;
}
.tarif_block{
	background:#5584ff;
	color:#ffffff;
	border-radius:50px;
	padding:10px 0px;
	margin:43px 0px;
	text-align:center;
}
.left_panel{
	padding-left:0 !important;
	background:#0e1a35;
	height:100vh;
}
.menu a{
	padding-left:30px !important;
	font-size:18px;
}
.menu span{
	margin:0px 10px 0px 0px;
	color:#5384ff;
}
.menu a:link{
	color:#ffffff;
}
.menu a:hover{
	color:#ffffff;
	background:#122143 !important;
	padding-left:27px !important;
	border-left:3px solid #5584ff;
}
.menu a:visited{
	color:#ffffff;
}
.top_panel span{
	font-size:20px;
	margin:50px 5px;
	cursor:pointer;
}
span.caret{
	margin:0;
}
.active{
	border-left:3px solid #5584ff;
}
.account_btn{
	background:none;
	margin:35px;
	padding:0 !important;
}
.account_btn img{
	border-radius:100px;
}
.add{
	background:#00bf1b;
	color:#ffffff;
	margin:25px 0px;
	border-radius:100px !important;
	padding:10px 30px;
}
.del{
	background:#f83c7b;
	color:#ffffff;
	margin:25px 0px;
	border-radius:100px !important;
	padding:10px 30px;
}
.table_accounts th{
	color:#8492af;
}
.dropdown-menu span{
	margin:5px 10px;
}
.btn_tegpod{
	background:#00bf1b;
	color:#ffffff !important;
	font-size:20px !important;
	padding:10px 20px !important;
	margin:20px 0px;
	border-radius:100px !important;
}